
    body{
      background-color: #B9F3FC;
    }
    
    .indexh{
      color: #18122B;
      font-family: Garamond, serif;
      font-size: 45px;
      
    }

    .indexp1{
        color:#18122B;
        font-family: Garamond, serif;
        font-size: large;
    }

    #goku{
        border-radius: 100%;
        
        background-color: #BAD7E9;
    }
    
    table{
        table-layout: auto;
        border-spacing: 3em 0em;
        
    }
    
    .indexhr{
        border-style: dashed none none;
        border-width: 6px;
        width: 4%;
        background-color: #F8EAD8;
        color: #A084DC;
    }

    .mailimg{
        height: 10px;
    }

    caption{
        color:#18122B;
        font-family: Garamond, serif;
        font-size: medium;

    }

    


    