
 body{
    margin:0;
    text-align: center;
    
 }
    
    

    p{
        color:#47B5FF;
        font-family: 'Montserrat', sans-serif;
        font-size: large;
        font-weight: bold;
        width: 50%;
        margin: 0 auto 0 auto;
    }


    
    
    
    hr{
        border-style: dotted none none;
        border-width: 16px;
        width: 5%;
        opacity: 0.7;
        color: #1C82AD;
    }

   
  #profile_pic{
    width: 15%;
    position: absolute;
    left: 6%;
    top: 15%;
   
   



  }



    .top_cont{
        background-color: #06283D;
        text-align: center;
        padding-top: 20%;
        padding-bottom: 20%;
        margin: 0;
        position: relative;
        
        
    }

    .profile{
      background-color: #FCFFE7;
      text-align: center;
      margin: 0;
      padding-top: 2%;
      padding-bottom: 2%;
      position: relative;
      


    }

    .profile_h1{
      color: #47B5FF;
      font-family: 'VT323', monospace;
      font-size: 300%;
    }

    .toph{
        color: #DFF6FF;
        font-size: 600%;
        font-family: 'VT323', monospace;
        
        
       
        
    }

  .gif_1{
    width: 20%;
    height: auto;
    position: absolute;
    right: 74%;
    bottom: 60%;
  }
    
  .gif_2{
    width: 20%;
    height: auto;
    position: absolute;
    right:70%;
    bottom: 5%;
  }
  .gif_3{
    width: 20%;
    height: auto;
    position: absolute;
    right: 5%;
    bottom: 60%;
  }

  .gif_4{
    width: 20%;
    height: auto;
    position: absolute;
    right: 10%;
    bottom: 5%;
  }

 

  .Projects{
    background-color: #FCFFE7;
    text-align: center;
    margin: 0;
    padding-top: 3%;
    position: relative;
    padding-bottom: 3%;


  }
  
  .contact_me{
    background-color: #FCFFE7;
    margin: 0;
    padding-top: 3%;
    padding-bottom: 30%;
   
   

  }

  .flexbox{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

  }

  .flexbox > div{
    margin: 10px;
    padding: 5px;

  }






  

  button[type=submit]{
    background-color: gainsboro;
    opacity: 1.2;
    color: #111;
    cursor: pointer;
    margin: auto;
    font-family: 'VT323', monospace;
    font-size: large;
    padding: 2px 4px;

  }

  input[type="text"],[type="number"]{
    background-color: gainsboro;
    opacity: 0.8;
    color: #111;
    border: 2px solid black;


  }

  form{

    background-color: #FCFFE7;
    display:flex;
    flex-direction: column;
    width: 20%;
    max-width: 600px;
    border-radius: 10px;
    padding: 2vw 4vw;
    margin: auto;


  }

  form h1{
    color: #111;
    font-family: 'VT323', monospace;
    font-size: 300%;

  }